$white: #fff;
$lightWhite: #f3f3f3;
$black: #000;
$red: #cc2229;
$bloodRed: linear-gradient(#f80000, #9f041b);
$gray: #9095A4;
$lightGray: #dbdbdb;
$darkGray: #575c6b;
$yellow: #FFBF00;
$ligthOrange: #feaf4d;
$darkOrange: #FF6E00;
$orange: linear-gradient(317.76deg, #FFA600 40.02%, #FF7800 68.68%, #FF6D00 83.15%);
$violet: #6e61f5;