@media screen and (min-width: 376px) and (max-width: 768px) {
  body {
    width: 375px;
    font-family: var(--font-primary), var(--font-secondary);
    overflow-x: hidden;
  }
  
  .offer {
    z-index: 9;
  }

  .header {
    position: relative;
    z-index: 99;
    background-color: $white;
  }

  .header__navigation {
    display: none;
  }

  .header__logo {
    z-index: 0;
  }

  .offer__img {
    top: -150px;
    z-index: 1;
  }

  $transition-duration: 0.5s;
  // Отображение пунктов навигации в виде линий, составляющих иконку гамбургера
  
}