:root {
  --font-primary: 'Exo';
  --font-secondary: 'sans-serif';
  --text-base-size: 16px;
  --text-biggest-size: 18px;
  --text-subhead-size: 24px;
  --text-head-size: 36px;
  --text-small-size: 10px;
}